

$color-azulito : #D9ECF2;
$color-rosa-uno : #F56A79;
$color-rojo : #FF414D;
$color-azul-oscuro : #002D40;
$color-turquesa : #1AA6B7;
$color-azul-oscuro-dos : #205072;
$color-verde-oscuro : #329D9C;
$color-verde-medio : #56C596;
$color-verde-regular : #7BE495;
$color-verde-claro : #CFF4D2;
