    $imgT : 150px;
    
    
    .portada{
        width: 100vw;
        height: 100vh;
    }

    .contenedor-portada{
        background-color: $color-verde-oscuro!important;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    
      
    }

    .menu{
        background-color: $color-verde-oscuro;
        width: 100vw;
        height: 100vh;
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;

        &-img{
            width: $imgT;
            cursor: pointer;
        }

        h1{
            cursor:pointer;
        }


    }

    .fullSize{
            width: 100vw!important;
            height: 100vh!important;
    }

.gato-img{
    width: 500px;
    height: 450px;
}


.name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: $Oswald ;
    font-size: 4em;                                                                                                                                                                                             ;
    &-uno{                                                                                          
        color: $color-azul-oscuro-dos;
    }
    &-dos{
        color: white;
    }
}

.boton-inicio{
    color: white;
    border: white solid 1px;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    font-size: 2em;
    font-family: $Oswald;
    cursor: pointer;
}

.boton-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

